html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('images/ruido.png'), linear-gradient(#f19100, #ffe395) /*url('images/backgroundInoway.png'), url('images/backgroundInowayBACK.png')*/;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    background-size: 150vh, 180vh;
    background-repeat: repeat, repeat-x;
    background-blend-mode: multiply;
    background-color: #fff3d0;
    overflow: hidden;
    
    
}

.logotipo{
    width: 40vh;
    padding-left: 9.5vh;
    padding-top: 5vh;
    padding-bottom: 2vh;
    cursor: pointer;
    z-index: 3;
}

  
header{
    border-bottom: 0.3px solid rgb(61, 58, 58);
    z-index: 2;
}
main{
    display: flex;
    flex-direction: row;
    
}
#menuLateral{
    
    padding-left: 0/*9.5vh*/;
    width: 0/*1vh*/;
    /*block-size: 20vh*/;
    display: block;
    box-sizing: border-box;
    white-space: nowrap;
   
    margin-right: 0px;
    margin-left: 8.6vh/*9.5vh*/;
}

#redesSocial{
    padding-left: 0vmax/*21px*/;
    margin-top: 6vh;
    /*display: flex*/;
    max-width: 12vh;
    max-height: 20vh;
    /*flex-direction: column;
    justify-content: space-around*/;
    margin-left: 0px;
    display: inline-block;
}

#linkLateral{
    margin-left: 1vh;
    margin-top: 6vh;
}
.icon{
    width: max(3.5vh, 1rem);
    padding-left: 0/*9.5vh*/;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    padding-top: 0;
}

.nameLink{
    width: max(1.6vh, 0.5rem);
    padding-left: 0/*9.5vh*/;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    padding-top: 0;
}
.nameLink1{
    width: max(2vh, 0.64rem);
    padding-left: 0/*9.5vh*/;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    padding-top: 0;
}

a{
    /*height: 0px;
    padding: 0px;
    margin: 0px;*/
    display:flex;
    /* width: 3.5vh; */
    margin-left: 0/*9.5vh*/;
    margin-top: 0;
    margin-bottom: 0;
}

br{
    content: "A" !important;
    display: block !important;
    margin-top: max(2.8vh, 1rem) !important;
}

.inobot{
    width: 1500px;
   
}


#faixa{
    display: flex/*change to none when achieve less than 916 width*/;
    justify-content: space-evenly;
    position: absolute;
    top: 0vh;
    right: 0vh;
    margin-right: 15.1%;
    /* margin-right: 10vmax; */
    width: 27vh;
    height: 93.5vh;
    background-image: linear-gradient(#ffa217c3, #fec62b33);
    border-radius: 0px 0px 8vh 8vh;
    box-shadow: 1vh 1vh 2vh rgba(54, 41, 21, 0.521);
    backdrop-filter: blur(0.5px);
    border-left: 0.3vh solid #fff3d05a;
    border-right: 0.3vh solid #7d5923a2;
	overflow:hidden;
}

svg{
    margin-top: 0vh;
}

#faixa svg:nth-child(1){
    top: 0;
    
    animation: transicao1 26s ease infinite;
}

#faixa svg:nth-child(2){
    margin-top: 28.5vh;
    position: absolute;
    top: 0;
    animation: transicao2 26s ease infinite;
}

#faixa svg:nth-child(3){
    margin-top: 28.1vh;
    position: absolute;
    top: 0;
    animation: transicao3 26s ease infinite;
}

/*Transição robos---------------------------------------------------*/

@keyframes transicao1{
    /* 0%{transform: translateX(0vh);}
    10%{transform: translateX(-60vh);}
    33%{}
    66%{}
    66%{}
    90%{transform: translateX(-60vh);}
    100%{transform: translateX(0vh);} */
    0%{transform: translateX(0vh);}
    10%{}
    20%{}
    30%{transform: translateX(0vh);}
    33.33%{transform: translateX(-60vh);}
    40%{}
    50%{}
    60%{}
    70%{}
    80%{}
    90%{}
    98.33%{transform: translateX(-60vh);}
    100%{}
    /* 0%{transform: translateX(0vh);}
    12%{transform: translateX(0vh);}
    13%{transform: translateX(0vh);}
    14%{transform: translateX(-60vh);}
    15%{transform: translateX(-60vh);}
    16%{transform: translateX(0vh);}
    24%{transform: translateX(0vh);}
    25%{transform: translateX(0vh);}
    26%{transform: translateX(-60vh);}
    27%{transform: translateX(-60vh);}
    28%{transform: translateX(0vh);}
    96%{transform: translateX(-60vh);}
    100%{transform: translateX(0vh);} */
}

@keyframes transicao2{
    /* 0%{transform: translateX(-60vh);}
    10%{}
    20%{}
    30%{}
    33.35%{transform: translateX(-60vh);}
    36%{transform: translateX(0vh);}
    50%{}
    66%{transform: translateX(0vh);}
    69%{transform: translateX(-60vh);}
    70%{}
    80%{}
    90%{}
    96%{}
    100%{transform: translateX(-60vh);} */
    0%{transform: translateX(-60vh);}
    10%{}
    20%{}
    30%{transform: translateX(-60vh);}
    33.33%{transform: translateX(0vh);}
    36%{}
    50%{}
    63.33%{transform: translateX(0vh);}
    66.66%{transform: translateX(-60vh);}
    70%{}
    80%{}
    90%{}
    96%{}
    100%{transform: translateX(-60vh);}
}

@keyframes transicao3{
    /* 0%{transform: translateX(-60vh);}
    10%{}
    20%{}
    30%{}
    40%{}
    50%{}
    63.33%{}
    69.33%{transform: translateX(-60vh);}
    70%{transform: translateX(0vh);}
    80%{}
    90%{}
    96.33%{}
    97.35%{transform: translateX(0vh);}
    100%{transform: translateX(-60vh);} */
    0%{transform: translateX(-60vh);}
    0.32%{transform: translateX(-60vh);}
    10%{}
    20%{}
    30%{}
    40%{}
    50%{}
    63.33%{transform: translateX(-60vh);}
    66.66%{transform: translateX(0vh);}
    80%{}
    90%{}
    96.33%{}
    96.99%{transform: translateX(0vh);}
    100%{transform: translateX(-60vh);}
}

@media all and (max-width: 800px){
    #faixa{
        transition: all 1s ease-in-out;
        margin-right: 30px; 
}
}
@media all and (min-width: 801px){
    #faixa{
        transition: all 1s ease-in-out;
        margin-right: 15.1%; 
}
}
@media all and (max-width: 700px){
    #faixa{
        /*para fazer um fade in and out*/
        /* visibility: hidden;
        opacity: 0;
        transition: visibility 0s 2s, opacity 2s linear; */

        transition: all 2s ease-in-out;
        height: 0%;
        opacity: 0;   
}
    #menuLateral{
        transition: all 2s ease-in-out;
        margin-left: max(3vh, 1rem);
    }
    .logotipo{
        transition: all 2s ease-in-out;
        padding-left: max(4.6vh, 1.3rem);
        width: max(50vw, 40vw);
    }
}
@media all and (min-width: 701px){
    #menuLateral{
        transition: all 2s ease-in-out;
        margin-left: 8.6vh;
    }
    .logotipo{
        transition: all 2s ease-in-out;
        padding-left: 9.5vh;
        
    }
}

@media all and (max-width: 700px){
    svg{
        /*para fazer um fade in and out*/
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 1s, opacity 1s linear;
}
}
@media screen and (max-device-width: 916px){
    #faixa{
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 2s, opacity 2s linear;
    }
    #menuLateral{
        margin-left: max(3vh, 10vw);
    }
    .logotipo{
        
        padding-left: 4.6vh;
       
    }
    
}

#content{
    width: 80%;
    height: 100%;
    position:absolute;
    bottom: 0;
    margin-left: max(20vh, 10vw, 1rem);
    overflow: hidden;
    display:flex;
    align-items: left;
    z-index: 1;
    
}

#content_serv{
    width: 80%;
    height: 100%;
    position:absolute;
    bottom: 0;
    margin-left: max(20vh, 10vw, 1rem);
    overflow: hidden;
    display:flex;
    align-items: left;
    z-index: 1;
}

#card1_serv{
    display: flex;
    flex-direction: column;
    align-items: left;
    color: #363636;
    font-family:Arial, Helvetica, sans-serif;
    position: absolute;
    width: 50vw;
    height: 50vh;
    justify-content: center;
    align-items: left;
    /* margin-left: 16vh;
    margin-top: 25vh; */
    margin-left: 7vw;
    margin-top: max(25vh, 9.7rem);
    /* animation: texto1 26s ease infinite; */
    overflow: hidden;
    /* background-color: #363636; */
}

#card1_serv input{
    display: none;
}

.manualNav{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: left;
    bottom: 3vh;
}


.manual-btn{
    border: 2px solid #363636;
    padding: .8vh;
    border-radius: 50%;
    cursor: pointer;
    margin-left: .6vh;
    transition: 1s;
}

.manual-btn:not(:first-child){
    margin-left: 7vh;
}

.manual-btn:hover{
    background-color: #fff3d0;
}

#radio1:checked ~ .all{
    margin-left: 0;
}

#radio1:checked ~ .manualNav > :nth-child(1){
    background-color: white;
}

#radio2:checked ~ .all{
    margin-left: -100%;
}

#radio2:checked ~ .manualNav > :nth-child(2){
    background-color: white;
}

#radio3:checked ~ .all{
    margin-left: -200%;
}

#radio3:checked ~ .manualNav > :nth-child(3){
    background-color: white;
}


#radio4:checked ~ .all{
    margin-left: -300%;
}

#radio4:checked ~ .manualNav > :nth-child(4){
    background-color: white;
}

#card1{
    display: flex;
    flex-direction: column;
    align-items: left;
    color: #363636;
    font-family:Arial, Helvetica, sans-serif;
    position: absolute;
    width: 38vw;
    height: 50vh;
    
    justify-content: center;
    align-items: left;
    /* margin-left: 16vh;
    margin-top: 25vh; */
    margin-left: 7vw;
    margin-top: max(25vh, 9.7rem);
    /* animation: texto1 26s ease infinite; */
    overflow: hidden;
}

#content #card1:nth-child(1) h1, #card1:nth-child(1) p{
    animation: texto1 26s ease infinite;
}

#content #card1:nth-child(2) h1, #card1:nth-child(2) p{
    animation: texto2 26s ease infinite;
}

#content #card1:nth-child(3) h1, #card1:nth-child(3) p{
    animation: texto3 26s ease infinite;
}


/*Animacao troca de texto*/

@keyframes texto1{
    0%{transform: translateY(0vh);}
    10%{}
    20%{}
    30%{transform: translateY(0vh);}
    32.33%{transform: translateY(460%);}
    40%{}
    50%{}
    60%{}
    70%{}
    80%{}
    90%{}
    98.33%{transform: translateY(460%);}
    100%{}
}

@keyframes texto2{
    0%{transform: translateY(-460%);}
    10%{}
    20%{}
    30%{transform: translateY(-450%);}
    33.33%{transform: translateY(0vh);}
    36%{}
    50%{}
    63.33%{transform: translateY(0vh);}
    66.66%{transform: translateY(460%);}
    70%{}
    80%{}
    90%{}
    96%{}
    100%{transform: translateY(460%);}
}

@keyframes texto3{
    0%{transform: translateY(460%);
    visibility: none;}
    0.32%{transform: translateY(460%);
    visibility: visible;}
    10%{}
    20%{}
    30%{}
    40%{}
    50%{}
    63.33%{transform: translateY(460%);}
    66.66%{transform: translateY(0vh);}
    80%{}
    90%{}
    96.33%{}
    96.99%{transform: translateY(0vh);}
    100%{transform: translateY(-460%);
    visibility: none;}
}

p{
    font-size: clamp(calc(100% + 0.7vw + 0.5vh), 1vh, 1rem);
    position: relative;
    color: #363636;
    margin-top: 0ch;
    font-weight: bold;
    
}
h1{
    font-size: calc(100% + 3vw);
    position: relative;
    color: white;
    margin-top: 0ch;
    line-height: calc(100% - 2vh);
    
}

#footer{
    padding-bottom: 0;
    
    margin-left: 15vh;
    position: absolute;
    
    display: flex;
    align-items:flex-end;
    justify-content: center;
    
    /* margin-left: 16vh;
    margin-top: 25vh; */
    margin-left: 7vw;
    margin-top: max(85.3vh, 9.7rem);

}

ul{
    list-style-type: none;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2vh;
    color: #363636;
    margin: 0;
    padding: 0;
    margin-right: 2rem;
}

a{
    text-decoration: none;
    color: unset;
}

/*conteudo grafico*/

#conteudoGraf{
	
	width: 100vh;
	height: 32vh;
	display: flex;
	margin-top: 10vh;
	margin-left: 34vh;
	justify-content: center;
	align-self: center;
}


#exclam_light_right{
	animation: exclamRight 2.5s ease-in-out infinite alternate;
}

#exclam_light_left{
	animation: exclamLeft 1.8s ease-in-out infinite alternate;
}

@keyframes exclamRight {
	from{
		transform: rotateX(-2deg);
		transform-origin: bottom;
		transform: translateY(-10px);
		
	}
	to{
		transform: rotateX(30deg);
		transform: translateY(20px);
	}
}


@keyframes exclamLeft {
	from{
		transform: rotateX(-1deg);
		transform-origin: bottom;
		transform: translateY(-8px);
		
	}
	to{
		transform: rotateX(27deg);
		transform: translateY(18px);
	}
}

#right_sign_out{
    animation: moveRight 2.2s ease infinite alternate;
}

#right_sign_in{
    animation: moveRight 2.1s ease infinite alternate;
    animation-delay: 0.5s;
}

#left_sign_out{
    animation: moveLeft 2.2s ease infinite alternate;
}

#left_sign_in{
    animation: moveLeft 2.1s ease infinite alternate;
    animation-delay: 0.5s;
}

@keyframes moveLeft{
    from{
        transform: rotateX(-2deg);
		transform-origin: center;
		transform: translateX(0vh);
        opacity: 100%;
    }
    to{
        transform: rotateX(30deg);
		transform: translateX(-2vh);
        opacity: 20%;
    }
}

@keyframes moveRight{
    from{
        transform: rotateX(-2deg);
		transform-origin: center;
		transform: translateX(0vh);
        opacity: 100%;
    }
    to{
        transform: rotateX(30deg);
		transform: translateX(2vh);
        opacity: 20%;
    }
}

#dotLeft{
    animation: exclamRight 1.5s ease-in-out infinite alternate;
    
}

#dotCenter{
    animation: exclamRight 1.5s ease-in-out infinite alternate;
    animation-delay: 0.2s;
}

#dotRight{
    animation: exclamRight 1.5s ease-in-out infinite alternate;
    animation-delay: 0.4s;
}


.cabecinhaRobo{
    /* background-color: #363636; */
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    height: max(67vh, 30vh);
    width: max(86vh, 40vh);
    overflow: hidden;
    justify-content: center;
}

.cabecinhaRobo svg{
    position: absolute;
    bottom: -80vh;
    animation: curioso 10s ease infinite alternate;
}


@keyframes curioso{
    0%{transform: translateY(10vh)}
    

    30%{}
    72%{transform: translateY(0)}
    80%{
        transform: translateY(0vh);
    }
    90%{transform: translateY(10vh)}
}

.servs1{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin-top: -1vh;
    position: relative;
    width: 100%;
    transition: 2s;
    /* background-color: blueviolet; */
}



.servs1 img{
    width: 18vh;
}

.servs1 h1{
    margin-top: 10%;
    font-size: calc(100% + 1.5vw);
    /* background-color: #363636; */
    line-height: 2ch;
    width: 100vh;
    margin-left: 3vh;
}


.all{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    position: absolute;
    display: flex;
    transition: 1s;
    /* background-color: aqua; */
}

.all .servs1:nth-child(4) h1{
    width: 80vh;
}

.alert_box{
    width: 100%;
    height: 100%;
    background-color: #36363667;
    backdrop-filter: blur(5px);
    z-index: 100000000000000000;
    position: absolute;
    top: 0;
    bottom: 0;
    -webkit-backdrop-filter: blur(5px);
    align-items: center;
    justify-content: center;
    display: none;
}

.box_content{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 45vh;
    width: 68vh;
    background-image: linear-gradient(25deg, rgba(169, 90, 40, 0.241), rgba(245, 199, 120, 0.362));
    /* margin-left: 33%;
    margin-top: 13%; */
    backdrop-filter: blur(1px);
    box-shadow: 5px 4px 17px rgba(90, 65, 40, 0.533);
    border-radius: 1vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    transform: skew(-4deg);
    
}

#footer ul li label{
    cursor: pointer;
}

.tabela{
    /* background-color: #fff3d0; */
    width: 70%;
    display: flex;
    flex-direction: column;
    transform: skew(4deg);

}

.tabela input{
    width: 20vh;
    outline: none;
}

.nomear{
    margin-top: 5vh;
    background-color: transparent;
    border: none;
    
}

textarea{
    margin-top: 2vh;
    resize: none;
    background-color: #855f2737;
    border-radius: .4vh;
    border: solid .4px rgba(50, 32, 6, 0.782);
    height: 8vh;
    outline: none;
}

input{
    background-color: transparent;
    border: none;
    color: rgb(31, 29, 27);
}

.tabela label:nth-child(1){
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: calc(100% + 1.5vw);
    font-weight: bold;
    text-align: center;
    margin-top: -5vh;
    color: #e9c99a;
}

.tabela label:nth-child(2){
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: calc(4% + 1vw);
    text-align: center;
}

.tabela button{
    position: absolute;
    align-self: center;
    width: 18vh;
    margin-top: 60%;
    background-color: #525050;
    border: none;
    border-radius: .5vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #e9c99a;
    cursor: pointer;
}

.fechar_alert img{
    width: 3vh;
    position: absolute;
    right: 0;
    margin-top: -5vh;
    margin-right: 5vh;
    transform: skew(4deg);
}

.fechar_alert{
    cursor: pointer;
    transition: .5s;
    opacity: 60%;
}

.fechar_alert:hover{
    opacity: 90%;
}